services:
  web:
    build: .
    container_name: codego_app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    restart: always
  db:
    image: mysql:8
    container_name: mysql_sistema
    environment:
      MYSQL_ROOT_PASSWORD: Joaolopes05
      MYSQL_DATABASE: codego_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: